{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "sourceType": "module",
    "ecmaVersion": 2022,
    "babelOptions": {
      "plugins": ["@babel/plugin-syntax-import-assertions"]
    }
  },
  "rules": {}
}
